*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 img {vertical-align: middle;}
 
 body{
     font-family: arial;
     font-size: 15px;
     line-height: 25px;
     color: #333;
     background: #dadada;
    
 }
 
 header{
     background-image: linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url(image/jk.jpeg);
     height: 100vh;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     position: relative;
 }
 
 nav{
     width: 100%;
     overflow: hidden;
     background: transparent;
     height: 88px;
     position: fixed;
     transition: 0.6s ease;
 }
 
 ul{
     float: right;
     list-style: none;
     margin-top: 35px;
 }
 
 ul li{
     display: inline-block;
 }
 
 ul li.active a{
     background: #fff;
     color: #000;
 }
 
 ul li a{
     color: #fff;
     text-decoration: none;
     font-family: monospace;
     font-weight: bold;
     font-size: 20px;
     text-transform: uppercase;
     padding: 2px 15px;
     margin: 0px 10px;
     transition: 0.6s ease;
     
 }
 
 ul li a:hover{
     background: #fff;
     color: #000;
 }
 .logo{
     float: left;  
 }
 
 .logo h1{
     
     color: #fff;
     font-weight: bold;
     font-family: cursive;
     font-size: 45px;
     margin-top: 30px;
 }
 
 .main{
     width: 1250px;
     margin: auto;
 }
 .text{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
 
 .text h1 {
     color: #fff;
     font-size: 55px;
     font-weight: bold;
     font-family: monospace;
     position: relative;
 }
 
 .text h1 span{
     color: #23ff67;
 }
 
 .contactBtn{
     position: absolute;
     top: 63%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
 
 .contactBtn a{
     color: #fff;
     text-decoration: none;
     font-size: 28px;
     font-weight: bold;
     border: 1px solid white;
     padding: 2px 12px;
     border-radius: 10px;
     transition: 0.6s ease;
     
 }
 
 .contactBtn a:hover{
     background: #fff;
     color: #000;
 }
 
 /* below the aboutTitel*/
 
 #aboutTitel{
     text-align: center;
     text-transform: uppercase;
     color: red;
     font-size: 29px;
     font-family: cursive;
     margin-top: 45px;
 }

 #aboutTitel h1 span{
    color: #538a66;
 } 

 div#aboutImage22 {
    width: 400px;
}
div#aboutImage22 img{
    max-width: 100%;
}

div#rightContact12 {
    width: 700px;
    float: right;
    margin-top: 15%;
}

#rightContact12 h2{font-size: 25px;border-bottom: 2px solid #afa4a4;margin-bottom: 17px;font-weight: bold;padding-bottom: 14px;font-family: monospace;color: #565656;}

#rightContact12 p{
    
font-family: monospace;
    
font-size: 18px;
    
line-height: 29px;
    
color: #484848;
}

div#aboutImage22,div#rightContact12{
    display: inline-block;
}

#aboutSectn{
    padding: 121px 0px;
    background: #dcdcdc;
}

/*servicesH1...*/
#servicesH1{
    text-align: center;
    color:#fff;
    font-size: 35px;
    margin-bottom: 49px;
    text-transform: uppercase;
    margin-top: 60px;
}

#servicesH1 span{
    color: rgb(53, 253, 124);
    font-family: cursive;
}


/*Below servicesBlock...*/

#servicesBlock{
    width: 357px;
    background: #828282;
    color: white;
    padding: 25px;
    overflow: hidden;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    margin: 15px;
    transition: all 0.6s ease;
}
/*below the hover  #servicesBlock ..*/

#servicesBlock:hover{
    background: white;
    color: black;
    transform: translateY(-15px);
}
/*below the hover  #servicesBlock .. i */
#servicesBlock:hover i{
   color: rgb(34, 151, 145);
   transform: rotateY(360deg);
}

/* below the sservicesBlock h1*/
#servicesBlock h2{
    font-family: monospace;
    margin-bottom: 10px;
    font-size: 25px;
}

/* below the servicesBlock p */

#servicesBlock p{
    font-family: cursive;
    font-size: 14px;
}

/*below the servicesBlock Icon..*/

#servicesBlock i{
    font-size: 40px;
    color: currentColor;
    transition: all 2s ease;
}

/*below the leftIcon*/

#leftIcon{
    width: 70px;
    float: left;
    margin-top: 3px;
}

/*below the rightContact*/

#rightContact{
    width: 223px;
    float: right;
}

#leftIcon,#rightContact{
    display: inline-block;
}

/*below the allBlocks....*/

#allBlocks{
    width: 1170px;
    margin: auto;
}

/*below the blockSectin...*/

#blockSectin{
    padding: 121px 0px;
    background: #545252;
}

/*below the hobbyTitel...*/

#hobbyTitel{
    text-align: center;
    margin-top: 53px;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    font-family: cursive;
}
#hobbyTitel h1 span{
    color: #037907;
    font-family: arial black;
}


/*below the sliderContainer...*/

.sliderContainer{
    max-width: 100%;
    position: relative;
   
}

.sliderContainer .myslider img{
    width: 100%;
    height: 500px;
}

.myslider{
    display: none;
    
}
.myslider{
    margin-top: 60px;
}

.numberText{
    position: absolute;
    padding: 11px 14px;
    color: #18f5e0;
    font-weight: bold;
    font-size: 19px;
    font-family: auto;
}

.captnText{
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: 15px;
    color: #d8d8d8;
    font-weight: bold;
    font-family: cursive;
    padding: 5px 12px;
    bottom: 10px;
}

.fade{
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade{
    from{opacity: 0.4};
    to{opacity: 1}
}

#sliderSection{
    padding:  191px 0px;
    background: #eae3e3;
}

/*About the Inspiration Vai*/

#inspirationVai{text-align: center;text-transform: uppercase;font-size: 24px;color: rebeccapurple;font-weight: bold;font-family: cursive;}

#inspirationVai h1 span{
    font-size: 50px;
    color: #0707ca;
}

.slidervai-imageLeft{
    width: 400px;
}
.slidervai-imageLeft img{
    max-width: 100%;
}

.slidervai-contactRight{
    width: 700px;
    float: right;
    margin-top: 8%;
}
.slidervai-imageLeft,.slidervai-contactRight{
    display: inline-block;
}
#inspraivaiSec{
    padding: 121px 0px;
    border-bottom: 2px solid #bfbdbd;
}

/*Below the start My  skill*/

#skillTitel{
    text-align: center;
    text-transform: uppercase;
    margin-top: 81px;
    font-weight: bold;
    color: #8e3838;
    font-size: 31px;
    font-family: cursive;
}

.skillContainer{
    width: 600px;
    position: absolute;
    margin-top: 78px;
}

.box {
    width: 100%;
    background: #e1e6ec;
    box-shadow: 9px 9px 16px rgba(163,177,198,0.6), -9px -9px 16px rgba(255,255,255,0.5);
    border-radius: 50px;
    margin: 20px 0px;
}

.single-box {
    text-align: right;
    padding-right: 20px;
    line-height: 30px;
    color: #5f07bf;
    font-weight: bold;
}
.box1{
    width: 80%;
    background-color: green;
    border-radius: 50px;
}

.box2{
    width: 80%;
    background-color: green;
    border-radius: 50px;
}

.box3{
    width: 50%;
    background-color: green;
    border-radius: 50px;
}

.box4{
    width: 40%;
    background-color: red;
    border-radius: 50px;
}

.box5{
    width: 20%;
    background-color: red;
    border-radius: 50px;
}


.skillImage{
    width: 400px;
    float: right;
}

.skillImage img{
    width: 100%;
}

.skillContainer span{
    color: #1046de;
    font-weight: bold;
    font-family: cursive;
    font-size: 15px;
}
#skillTitel h1 span{
    font-family: cursive;
    color: #21fdc0;
}

section#skillSectn {
    padding: 51px 0px 572px 0px;
    background:#a2a2a2;
    
}
